<p>stuff</p>
<ul id="ingredient-list">
  {{#each ingredients as | ingredient |}}
  <li class="ingredient-item {{summaryOrEdit}}" data-ingredient-id={{ingredient.id}}>
   {{ingredient.name}}
  </li>
  {{/each}}
</ul>
<br>
<button id="edit-ingredients" {{action 'toggleEdit'}}>edit</button>
