<p>stuff</p>
<div id="ingredient-list" class="list clearfix {{summaryOrEdit}}">
  {{#each ingredients as | ingredient |}}
    <div class="ingredient-item" data-ingredient-id={{ingredient.id}}>
     {{ingredient.name}}
    </div>
  {{/each}}
</div>
<br>
<button id="edit-ingredients" {{action 'toggleEdit'}}>edit</button>
