<div> 
{{#power-select-with-create
  options=currentOptions
  multiple=true
  searchField="name"
  selected=selectedOptions
  onchange=(action (mut selectedOptions))
  oncreate=(action "createOnEnter")
  placeholder="begin typing to add items"
  showCreateWhen=(action "hideCreateOptionOnSameName")
  as |option|}}
  {{option.name}}
{{/power-select-with-create}}
</div>
