.ingredient-list {

  .ingredient-item {
    list-style: none;
    background: #d1703c;
    color: #fff;
    height: 2em;
    line-height: 2em;
    margin: 2px 0;
    padding: 0 0.5em;
    overflow: hidden;
    width: 10em;
    list-style-type: none;
  }

  .summary {
    display: inline-block;
  }

  .edit {
    display: block;
  }
}
