#ingredient-list {
  width: 100%;

  .ingredient-item {
    height: 2em;
    line-height: 2em;
    padding: 0 0.0625em;
    display: inline-block;

  }
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
